
<!-- Nav tabs -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="nav navbar-nav">
        <h5 class="nav-link">SpotifyAPI Artist Search</h5>
        <a class="nav-item nav-link" href="#"><img src="../../static/img/if_headphone-big_416382.png" alt=""> Home <img src="../../static/img/if_headphone-big_416382.png" alt=""></a>
        <a class="nav-item nav-link" href="#"><img src="../../static/img/if_headphone-big_416382.png" alt=""> Two Artist <img src="../../static/img/if_headphone-big_416382.png" alt=""></a>
        <a class="nav-item nav-link" href="#"><img src="../../static/img/if_headphone-big_416382.png" alt=""> Genres <img src="../../static/img/if_headphone-big_416382.png" alt=""></a>
    </div>
</nav>
