{% extends 'layout.html' %}
{% block app_content %}
        <div class="col-md-4 mx-auto ">
        {% include './includes/search.html' %}
        </div>
        <div id='results' class="col-md-9 mx-auto">
          <table class="table table-hover table-inverse table-responsive">
            <thead class="thead-inverse">
              <tr>
                <th>Artist</th>
                <th>Songs</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
          </table>
        </div>
  {% endblock %}
